# Tailscale Configuration
# Get your auth key from: https://login.tailscale.com/admin/settings/keys
TAILSCALE_AUTH_KEY="tskey-auth-kqvDkqwZNC21CNTRL-Lyfg12XGiVb2YfaZMR1pUb5Wviaz5E1pY"

# Cloudflared Configuration  
# Get your tunnel token from: https://dash.cloudflare.com/
# Go to Zero Trust > Networks > Tunnels > Create/Edit Tunnel
CLOUDFLARED_TOKEN="eyJhIjoiNzE3M2Y5MWI3MmFjZWFiNTAwYWNmMWY2YmFlYWJmNGIiLCJ0IjoiNzZjN2JhY2MtNjJjOS00Y2JiLWE3NGEtOWQ3OGFmNTg5YmYwIiwicyI6IllqQTVNalF3Tm1JdFlqTmxPQzAwT1RNMkxUaGtNV010TXpaaE5HTTVZVFV5WVdZeSJ9"

# PostgreSQL Database Configuration
POSTGRES_DB=media_db
POSTGRES_USER=rctv
POSTGRES_PASSWORD=rctv@01

# pgAdmin Configuration
PGLADMIN_EMAIL="victordoblezz@gmail.com"
PGLADMIN_PASSWORD="Inicio@01"

# Backend API Configuration
GITHUB_REPO_URL="https://github.com/zizicode/rc_backend_api.git"

# 🔑 Secretos seguros
JWT_SECRET="J3$u9X!zA7^pK0mQ1rT8@wL6#hZ2cF5n"
API_KEY="1f7e3c2d-89a4-4b65-91c7-34d27a2fbe6e"

# Cloudflare Tunnel ID (get from tunnel creation)
TUNNEL_ID="76c7bacc-62c9-4cbb-a74a-9d78af589bf0"
 