# --- Dependencias ---
node_modules/
**/node_modules/
./api_v1/node_modules

# --- Archivos de entorno ---
.env
*.env
**/.env
**/*.env

# --- Compilados / builds ---
dist/
build/
*.tsbuildinfo

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# --- Cache ---
.cache/
.tmp/
.DS_Store

# --- Editor / SO ---
.vscode/
.idea/
*.swp
*.swo

# --- Test / coverage ---
coverage/
*.lcov
